.scene-heading{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
    div{
        margin-right: 8px;
        text-transform: uppercase;     
    }
    .int-ext, .location, .time{
        text-align: left;
    }
    .time{
        min-width: 100px;
        &:before{
            content: "- ";
        }
    }
    .int-ext {
        min-width: 25px;
        &:after{
            content: ".";
        }
    }
    .location{
        min-width: 50px;
    }
   

}