.charector{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    div{
        margin-top: 8px;
        margin-right: 8px;
        text-transform: uppercase;    
        min-width: 300px;
    }
    button{
        margin-right: 8px;
    }
}